# # local package
# -e .

# external requirements
click
pre_commit
flake8
black
isort
mypy
nbstripout
pyyaml
pandas
numpy
scipy
scikit-learn
numba
statsmodels
matplotlib
seaborn
bokeh
python-dotenv>=0.5.1
SciencePlots
omegaconf

# backwards compatibility
pathlib2
wheel


# Project specific requirements
pyddm
# hssm
blackjax
ipywidgets
# cupy
KDEpy